.title {
  text-align: center;
  color: #EBA9A7;
}
p {
  font-size: 20px;
  text-indent: 30px;
}
.one {
  font-size: 20px;
}
.onefive {
  font-size: 20px;
}
.img-clothes {
  width: 250px;
  length: 250px;
}
.two {
  font-size: 25px;
}
.twofive {
  font-size: 25px;
}
.img-outfit {
  width: 250px;
}
.return {
  text-align: center;
}
.bread {
  font-size: 20px;
}
.handing {
  font-size: 24px;
}
.img-home {
  width: 350px;
}
.fourone {
  font-size: 24px;
}
.img-base {
  width: 250px;
  length: 250px;
}
.four {
  font-size: 23px;
}
.five {
  font-size: 26px;
}
.img-open {
  width: 400px;
}
.oh {
  color: #FF6657;
  text-align: center;
  font-size: 150px;
}
.img-party {
  width: 500px;
  margin-left: 235px;
  margin-right: 235px;
}
.p1 {
  font-size: 30px;
  color: #88BBBF;
}
.class1 {
  font-size: 400px;
}
.img-phone {
  width: 400px;
}
.fiveone {
  font-size: 30px;
}
.img-sad {
  width: 400px;
}
.img-stop {
  width: 400px;
  margin-left: 235px;
  margin-right: 235px;
}
.w {
  width: 400px;
}
.img-mad {
    width: 400px;
}
